[Unit]
Description=GithubActions

[Service]
Type=exec
Restart=always
RestartSec=60s
User=doni
Group=doni
ExecStart=%h/actions-runner/run.sh

[Install]
WantedBy=multi-user.target